@import "variables/breakpoints";

@import "mixins/reset";

@import "modules/containers";
@import "modules/dashboard/containers";
@import "modules/layout";
@import "modules/icons";
@import "modules/form";

@import "modules/dashboard/buttons";
@import "modules/dashboard/layout";
@import "modules/dashboard/error-box";
@import "modules/dashboard/sidebar";
@import "modules/dashboard/search";
@import "modules/dashboard/form";
@import "modules/dashboard/table";
@import "modules/dashboard/data-table";

@import "modules/responsive";

body, html{
    background: #F1F2F7;
}
a{
    opacity: .9;
    transition: .2s opacity;
    &:hover{
        opacity: 1;
    }
}


