.reset-link {
  color: inherit;
  text-decoration: none;
}

.container {
  position: relative;
}

.container-fluid {
  width: 100%;
}

.container-fixed {
  width: 1000px;
  margin: 0 auto;
}

.container-fixed-large {
  width: 1560px;
  margin: 0 auto;
}

.container-fixed-small {
  width: 600px;
  margin: 0 auto;
}

@media screen and (max-width: 1010px) {
  .container {
    width: 100%;
  }
  .container-mobile-padding {
    padding-left: 14px;
    padding-right: 14px;
  }
}
.container-content {
  padding: 50px;
  box-sizing: border-box;
  background: #FFFFFF;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 0px 60px 8px rgba(0, 0, 0, 0.04), 0px 0px 120px 10px rgba(0, 0, 0, 0.02);
  border-radius: 8px;
}
.container-content h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #383838;
}
.container-content > h1 {
  margin: 0 0 40px;
}

.container-content__headline-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 40px;
}
.container-content__headline-box h1 {
  margin: 0 20px 0 0;
}

.container-fixed-centered {
  position: fixed;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 500;
  color: #4A4A4A;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: #1698E1;
}

.icon-menu {
  position: relative;
  display: block;
  width: 22px;
  height: 23px;
  cursor: pointer;
}

.icon-menu span {
  top: 10px;
}

.icon-menu span,
.icon-menu span:before,
.icon-menu span:after {
  background: #272B30;
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 10px;
  display: block;
  transition: 0.3s transform;
}

.icon-menu span:before,
.icon-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.icon-menu span:before {
  transform: translateY(-7px);
}

.icon-menu span:after {
  transform: translateY(7px);
}

.icon-menu.icon-menu-open {
  transform: rotate(45deg);
}

.icon-menu.icon-menu-open > span:before {
  transform: rotate(90deg);
}

.icon-menu.icon-menu-open > span:after {
  transform: rotate(90deg);
}

.form-node {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: 100%;
  outline: none;
  box-shadow: none;
  background: transparent;
  border: none;
  display: block;
  width: 100%;
  padding: 22px 18px;
  margin: 9px 0;
  border-radius: 5px;
  cursor: pointer;
  background: #F4F4F4;
  color: #4A4A4A;
  transition: 0.2s box-shadow;
}
.form-node ::-moz-placeholder {
  color: #E0E0E0;
}
.form-node :-ms-input-placeholder {
  color: #E0E0E0;
}
.form-node ::placeholder {
  color: #E0E0E0;
}
.form-node:hover {
  box-shadow: inset 0px 0px 0px 1px rgba(236, 236, 236, 0.8), inset 0px 0px 1px 1px rgba(236, 236, 236, 0.25);
}
.form-node:focus, .form-node:active {
  box-shadow: inset 0px 0px 1px 2px rgba(14, 99, 199, 0.84);
}
.form-node:disabled {
  background: #cfcfcf;
  box-shadow: none;
  color: #a3a3a3;
  cursor: no-drop;
}

.form-dark {
  color: #F3F3F3;
}
.form-dark .form-node {
  color: #D6D6D6;
  background: #383B42;
}
.form-dark .form-node:hover {
  box-shadow: inset 0px 0px 1px 2px rgba(66, 69, 76, 0.88);
}
.form-dark .form-node:focus, .form-dark .form-node:active {
  box-shadow: inset 0px 0px 1px 2px rgba(14, 99, 199, 0.84);
}
.form-dark .form-node ::-moz-placeholder {
  color: #68696D;
}
.form-dark .form-node :-ms-input-placeholder {
  color: #68696D;
}
.form-dark .form-node ::placeholder {
  color: #68696D;
}

input.form-node, textarea.form-node {
  cursor: text;
}

textarea.form-node {
  resize: none;
}

.form-wrapper-select {
  position: relative;
  width: 100%;
}
.form-wrapper-select::after {
  content: "";
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  width: 38px;
  height: 38px;
  background-image: url("/static/icons/icon-select.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

select.form-node {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: "";
}

.form-wrapper-checkbox {
  margin: 9px 0;
}
.form-wrapper-checkbox input[type=checkbox] {
  display: none;
}
.form-wrapper-checkbox input[type=checkbox]:checked + label:before {
  box-shadow: 0px 0px 0px 2px rgba(74, 74, 74, 0.8), 0px 0px 1px 1px rgba(74, 74, 74, 0.25);
}
.form-wrapper-checkbox input[type=checkbox]:checked + label:after {
  opacity: 1;
}
.form-wrapper-checkbox label {
  font-weight: 600;
  position: relative;
  padding-left: 34px;
}
.form-wrapper-checkbox label:before, .form-wrapper-checkbox label:after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
}
.form-wrapper-checkbox label:before {
  background: #F4F4F4;
  box-shadow: 0px 0px 0px 1px rgba(236, 236, 236, 0.8), 0px 0px 1px 1px rgba(236, 236, 236, 0.25);
  border-radius: 5px;
  transition: 0.1s box-shadow;
}
.form-wrapper-checkbox label:after {
  background-image: url("/static/icons/icon-checkbox.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.1s opacity;
}

.btn {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: 100%;
  outline: none;
  box-shadow: none;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  line-height: 14px;
  padding: 16px 24px;
  margin: 9px 0;
  color: inherit;
  border-radius: 5px;
}

.btn-default {
  color: #FFFFFF;
  background: #479EEF;
  transition: 0.1s box-shadow;
}
.btn-default:hover {
  box-shadow: 0px 0px 4px 1px rgba(71, 158, 239, 0.73);
}

.btn-danger {
  color: #FFFFFF;
  background: #E96969;
  transition: 0.1s box-shadow;
}
.btn-danger:hover {
  box-shadow: 0px 0px 4px 1px rgba(233, 105, 105, 0.73);
}

.btn-outline-danger {
  color: #E96969;
  text-decoration: underline;
}

.btn-fixed {
  min-width: 190px;
}

.btn-square {
  width: 34px;
  height: 34px;
  padding: 0;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
}
.btn-square svg {
  width: 14px;
  height: auto;
}

.layout-main {
  padding: 143px 50px 50px 310px;
}
.layout-main .container-content {
  margin-bottom: 40px;
}

.error-box {
  padding-top: 18px;
  color: #E96969;
}
.error-box ul {
  margin: 0;
  padding-left: 20px;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 260px;
  background: #3C3E4B;
}

.sidebar-head {
  width: 100%;
  background: #2D2F39;
  padding: 28px 0 36px 20px;
}
.sidebar-head svg {
  display: block;
}

.sidebar-nav, .sidebar-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.sidebar-nav {
  width: 100%;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  color: #E2E2E2;
}
.sidebar-nav a + .sidebar-nav__delimiter {
  padding: 11px 0;
}

.sidebar-nav__item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 11px 0;
  color: inherit;
  text-decoration: none;
}
.sidebar-nav__item .sidebar-nav__item-icon {
  width: 20px;
  margin-right: 11px;
}
.sidebar-nav__item .sidebar-nav__item-icon svg {
  width: 100%;
  max-width: 20px;
  height: auto;
}
.sidebar-nav__item .sidebar-nav__item-arrow {
  transition: 0.3s transform;
  transform: translateX(0px);
  margin-left: auto;
}
.sidebar-nav__item:hover .sidebar-nav__item-arrow {
  transform: translateX(4px);
}

.sidebar-body {
  justify-content: space-between;
  height: calc(100% - 90px);
  padding: 40px 20px 45px;
}

.search-header {
  position: fixed;
  z-index: 101;
  left: 260px;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - 260px);
  padding: 14px 24px;
  background: #fff;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.01), 0 8px 57px rgba(0, 0, 0, 0.02);
}

.search-header__input {
  max-width: 310px;
  position: relative;
}
.search-header__input svg {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.search-header__input .form-node {
  padding-left: 42px;
  margin: 0;
}

.search-header__nav {
  margin-top: 9px;
}
.search-header__nav nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.search-header__nav a {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #434343;
  font-weight: 700;
  font-size: 12px;
  line-height: 12px;
  text-transform: uppercase;
  text-decoration: none;
}
.search-header__nav svg {
  margin-right: 4px;
}

.search-user {
  opacity: 0.7;
  font-size: 12px;
}

.form-list-appending {
  border: solid #e8e8e8 1px;
  border-radius: 6px;
  padding: 4px 10px;
  margin: 9px 0;
}
.form-list-appending .form-node {
  margin-top: 4px;
  margin-bottom: 4px;
}
.form-list-appending > button {
  margin-top: 4px;
}
.form-list-appending > .form-node:nth-of-type(1) {
  margin-top: 9px;
}

.form-list-appending__wrapper {
  position: relative;
}
.form-list-appending__wrapper button {
  position: absolute;
  top: 50%;
  right: 8px;
  margin: 0;
  transform: translateY(-50%);
}

.form-buttons-space-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.table {
  border-collapse: collapse;
}

.table-default {
  width: 100%;
}
.table-default tr {
  border-top: 1px solid #F5F5F5;
  border-bottom: 1px solid #F5F5F5;
}
.table-default tr td {
  padding: 12px 20px;
  border-left: 1px solid #F5F5F5;
  border-right: 1px solid #F5F5F5;
}
.table-default tr td:nth-child(1) {
  padding-left: 0;
  width: 50px;
  border-left: none;
}
.table-default tr td:last-child {
  width: 160px;
  text-align: right;
  border-right: none;
}
.table-default thead tr {
  border-top: none;
}
.table-default tbody tr:last-child {
  border-bottom: none;
}
.table-default b, .table-default thead {
  font-weight: 700;
}
.table-default .btn {
  margin: 0;
}
.table-default .table-td-small {
  font-size: 14px;
}
.table-default .table-colored-red {
  color: #E96969;
}
.table-default .table-colored-green {
  color: #6ACE3B;
}

@media screen and (min-width: 1010px) {
  .hide-desktop {
    display: none;
  }
}
@media screen and (max-width: 1010px) {
  .hide-mobile {
    display: none;
  }
}
body, html {
  background: #F1F2F7;
}

a {
  opacity: 0.9;
  transition: 0.2s opacity;
}
a:hover {
  opacity: 1;
}
