.form-node{
    display: block;
    color: #606060;
    margin-bottom: 12px;

    position: relative;

    input{
        @include reset-input();

        width: 100%;
        padding: 12px 14px;

        background: #F4F4F4;
        border: 2px solid #dcdcdc;
        border-radius: 5px;

        &:focus{
            border-color: #3997EE;
        }
    }
    label{
        display: block;
        font-weight: 700;
        font-size: 12px;
    }


    i+input{
        padding-left: 42px;
    }

    i {
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 16px;
        line-height: 16px;
    }
}
