.icon-menu {
    position: relative;
    display: block;
    width: 22px;
    height: 23px;
    cursor: pointer;
}

.icon-menu span {
    top: 10px;
}

.icon-menu span,
.icon-menu span:before,
.icon-menu span:after {
    background: #272B30;
    width: 100%;
    height: 2px;
    position: absolute;
    border-radius: 10px;
    display: block;
    transition: .3s transform;
}

.icon-menu span:before,
.icon-menu span:after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
}

.icon-menu span:before {
    transform: translateY(-7px);
}

.icon-menu span:after {
    transform: translateY(7px);
}

.icon-menu.icon-menu-open {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.icon-menu.icon-menu-open > span:before {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

.icon-menu.icon-menu-open > span:after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
