.btn {
    @include reset-button();

    cursor: pointer;

    font-size: 14px;
    font-weight: 500;
    line-height: 14px;

    padding: 12px 14px;
    margin: 9px 0;

    color: inherit;

    border-radius: 5px;
}

.btn-default {
    color: #FFFFFF;

    background: #479EEF;

    transition: .1s box-shadow;

    &:hover {
        box-shadow: 0px 0px 4px 1px rgba(71, 158, 239, 0.73);
    }
}

.btn-danger {
    color: #FFFFFF;

    background: #E96969;

    transition: .1s box-shadow;

    &:hover {
        box-shadow: 0px 0px 4px 1px rgba(233, 105, 105, 0.73);
    }
}
.btn-outline-danger{
    color: #E96969;
    text-decoration: underline;
}

.btn-fixed {
    min-width: 120px;
}
.btn-square{
    width: 34px;
    height: 34px;
    padding: 0;

    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
    svg{
        width: 14px;
        height: auto;
    }
}
