.container-content {
    padding: 50px;
    box-sizing: border-box;

    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 0px 60px 8px rgba(0, 0, 0, 0.04), 0px 0px 120px 10px rgba(0, 0, 0, 0.02);
    border-radius: 8px;

    h1 {
        font-weight: 700;
        font-size: 32px;
        line-height: 39px;
        color: #383838;
    }

    & > h1 {
        margin: 0 0 40px;
    }
}

.container-content__headline-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    h1{
        margin: 0 20px 0 0;
    }
    margin: 0 0 40px;
}

.container-fixed-centered {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
