.container {
    position: relative;
}

.container-fluid {
    width: 100%;
}

.container-fixed {
    width: 1000px;
    margin: 0 auto;
}

.container-fixed-large {
    width: 1560px;
    margin: 0 auto;
}

.container-fixed-small {
    width: 600px;
    margin: 0 auto;
}


@media screen and (max-width: $defaultBreakpoint) {
    .container {
        width: 100%;
    }
    .container-mobile-padding {
        padding-left: 14px;
        padding-right: 14px;
    }
}

.container-content {
    padding: 24px 30px;
    box-sizing: border-box;

    background: #FFFFFF;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1), 0px 0px 40px 8px rgba(0, 0, 0, 0.04), 0px 0px 100px 10px rgba(0, 0, 0, 0.02);
    border-radius: 8px;

    h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 34px;
        color: #383838;
    }

    & > h1 {
        margin: 0 0 16px;
    }
}

.container-content__headline-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    h1{
        margin: 0 20px 0 0;
    }
    margin: 0 0 20px;
}

.container-fixed-centered {
    position: fixed;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
}
