$space-between-nodes: 10px;

.form-group {
    display: flex;
    flex-direction: row;
    align-items: flex-end;

    & > *:not(:last-child) {
        margin-right: $space-between-nodes;
    }
}
.form-group-start{
    align-items: flex-start;
}

.form-node {
    display: block;
    color: #606060;
    margin-bottom: $space-between-nodes;
    width: 100%;

    position: relative;

    input:not([type="checkbox"]):not([type="radio"]),textarea, .form-select-trigger {
        @include reset-input();

        width: 100%;
        padding: 12px 14px;

        background: #F4F4F4;
        border: 2px solid #e3e3e3;
        border-radius: 5px;

        &:hover {
            border-color: #d5d5d5;
        }

        &:focus {
            border-color: #3997EE;
        }
    }
    textarea{
        resize: vertical;
    }

    .form-select-trigger:hover {
        border-color: #3997EE;
    }

    label {
        display: block;
        font-weight: 700;
        font-size: 12px;
    }


    i + input:not([type="checkbox"]):not([type="radio"]) {
        padding-left: 32px;
    }

    i {
        display: block;
        position: absolute;
        left: 12px;
        top: 50%;
        transform: translateY(calc(-50% - 1px));
        font-size: 15px;
    }

    label + i {
        top: calc(50% + 12px);
    }
}


.form-node-select {
    i {
        position: relative;
        left: 0;
        top: 0;
        transform: translateY(0);
        font-size: 18px;
    }

    .form-select-trigger {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        &, & * {
            cursor: pointer;
        }
    }

    .form-select-children {
        max-height: 0;
        transition-timing-function: cubic-bezier(.23, 1, .32, 1);
        transition-property: max-height;
        transition-duration: .2s;

        padding: 0;
        border-color: transparent;
        overflow: hidden;
    }

    &-active {
        .form-select-children {
            max-height: 800px;
            padding: 2px 0;

            transition-timing-function: cubic-bezier(.95, .05, .8, .04);
        }
    }
}


.form-select-children {
    ul {
        background: #F4F4F4;
        border: 2px solid #dcdcdc;
        border-radius: 5px;

        padding: 12px 0;
        margin: 0;

        .form-select-item, li {
            display: block;
            padding: 2px 16px;

            &, & * {
                cursor: pointer;
            }

            &:hover, &.form-select-item-selected {
                background: #e8e8e8;
            }

            &.form-select-item-selected label {
                font-weight: 700;
            }
        }
    }

    input {
        display: none;
    }

    label {
        font-weight: 400;
    }
}
