.reset-link {
  color: inherit;
  text-decoration: none;
}

.container {
  position: relative;
}

.container-fluid {
  width: 100%;
}

.container-fixed {
  width: 1000px;
  margin: 0 auto;
}

.container-fixed-large {
  width: 1560px;
  margin: 0 auto;
}

.container-fixed-small {
  width: 600px;
  margin: 0 auto;
}

.container-fixed-auth {
  width: 500px;
  margin: 0 auto;
}

@media screen and (max-width: 1010px) {
  .container {
    width: 100%;
  }
  .container-mobile-padding {
    padding-left: 14px;
    padding-right: 14px;
  }
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  color: #4A4A4A;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: #1698E1;
}

.icon-menu {
  position: relative;
  display: block;
  width: 22px;
  height: 23px;
  cursor: pointer;
}

.icon-menu span {
  top: 10px;
}

.icon-menu span,
.icon-menu span:before,
.icon-menu span:after {
  background: #272B30;
  width: 100%;
  height: 2px;
  position: absolute;
  border-radius: 10px;
  display: block;
  transition: 0.3s transform;
}

.icon-menu span:before,
.icon-menu span:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
}

.icon-menu span:before {
  transform: translateY(-7px);
}

.icon-menu span:after {
  transform: translateY(7px);
}

.icon-menu.icon-menu-open {
  transform: rotate(45deg);
}

.icon-menu.icon-menu-open > span:before {
  transform: rotate(90deg);
}

.icon-menu.icon-menu-open > span:after {
  transform: rotate(90deg);
}

.form-node {
  display: block;
  color: #606060;
  margin-bottom: 12px;
  position: relative;
}
.form-node input:not([type=checkbox]):not([type=radio]), .form-node .form-select-trigger {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  font-size: inherit;
  font-weight: inherit;
  font-family: inherit;
  line-height: 100%;
  outline: none;
  box-shadow: none;
  background: transparent;
  border: none;
  cursor: text;
  width: 100%;
  padding: 12px 14px;
  background: #F4F4F4;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
}
.form-node input:not([type=checkbox]):not([type=radio]):focus, .form-node input:not([type=checkbox]):not([type=radio]):hover, .form-node .form-select-trigger:focus, .form-node .form-select-trigger:hover {
  border-color: #3997EE;
}
.form-node label {
  display: block;
  font-weight: 700;
  font-size: 12px;
}
.form-node i + input:not([type=checkbox]):not([type=radio]) {
  padding-left: 42px;
}
.form-node i {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  line-height: 16px;
}

.form-node-select i {
  position: relative;
  left: 0;
  top: 0;
  transform: translateY(0);
  font-size: 18px;
}
.form-node-select .form-select-trigger {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.form-node-select .form-select-trigger, .form-node-select .form-select-trigger * {
  cursor: pointer;
}
.form-node-select .form-select-children {
  max-height: 0;
  transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
  transition-property: max-height;
  transition-duration: 0.2s;
  padding: 0;
  border-color: transparent;
  overflow: hidden;
}
.form-node-select-active .form-select-children {
  max-height: 800px;
  padding: 2px 0;
  transition-timing-function: cubic-bezier(0.95, 0.05, 0.8, 0.04);
}

.form-select-children ul {
  background: #F4F4F4;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  padding: 12px 0;
  margin: 0;
}
.form-select-children ul .form-select-item, .form-select-children ul li {
  display: block;
  padding: 2px 16px;
}
.form-select-children ul .form-select-item, .form-select-children ul .form-select-item *, .form-select-children ul li, .form-select-children ul li * {
  cursor: pointer;
}
.form-select-children ul .form-select-item:hover, .form-select-children ul .form-select-item.form-select-item-selected, .form-select-children ul li:hover, .form-select-children ul li.form-select-item-selected {
  background: #e8e8e8;
}
.form-select-children ul .form-select-item.form-select-item-selected label, .form-select-children ul li.form-select-item-selected label {
  font-weight: 700;
}
.form-select-children input {
  display: none;
}
.form-select-children label {
  font-weight: 400;
}

@media screen and (min-width: 1010px) {
  .hide-desktop {
    display: none;
  }
}
@media screen and (max-width: 1010px) {
  .hide-mobile {
    display: none;
  }
}
html, body {
  background: #FAFAFA;
}
