.reset-link {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1010px) {
  .hide-desktop {
    display: none;
  }
}
@media screen and (max-width: 1010px) {
  .hide-mobile {
    display: none;
  }
}
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 160%;
  font-weight: 400;
  color: #4A4A4A;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: #1698E1;
}
